.fancybox-slide--iframe .fancybox-content {
  width: 80px;
  height: 600px;
  max-width: 90%;
  max-height: 80%;
  margin: 0;
  @media (max-width: 540px) {
    max-width: 100%;
    max-height: 100%;
  }
}
