@import "vars";
@import "mixins";

@font-face {
  font-family: "Suvinil Sans";
  src: url("../fonts/SuvinilSans/SuvinilSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Suvinil Sans";
  src: url("../fonts/SuvinilSans/SuvinilSans-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Suvinil Sans";
  src: url("../fonts/SuvinilSans/SuvinilSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Suvinil Sans", sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.main {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 115px;
  width: 100%;
  height: 100%;
}

.section {
  &-video {
    position: relative;
    width: 100%;
    height: 408px;

    @include breakpoint(xs) {
      height: 400px;
    }

    &__thumb {
      width: 100%;
      height: 100%;
      background-image: url("../images/capa.jpg");
      background-size: cover;
      background-position: 100px center;
      background-repeat: no-repeat;
      background-color: #ff394a;
      @media (min-width: 1400px) {
        background-size: contain;
        background-position: right center;
      }
      @include breakpoint(lg) {
        background-position: 200px center;
      }

      @include breakpoint(md) {
        background-position: 100px center;
      }

      @include breakpoint-2(sm) {
        background-position: left center;
      }
      @include breakpoint-3(xs) {
        background-image: url("../images/capa-mobile.jpg");
        background-position: center;
      }
    }
    &__description {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 5%;
      @include breakpoint(xs) {
        align-items: center;
        padding: 0;
        height: 200px;
      }
      @media (min-width: 1800px) {
        padding-left: 20%;
      }
    }
    &__title {
      color: $yellow;
      font-size: 36px;
      margin-bottom: 20px;
      @include breakpoint(sm) {
        font-size: 24px;
        margin-bottom: 10px;
      }
    }

    &__text {
      color: white;
      font-size: 26px;
      line-height: 36px;

      @include breakpoint(sm) {
        font-size: 16px;
        line-height: 24px;
      }
    }
    &__logo {
      display: flex;
      align-items: flex-end;
      width: 100%;
      color: $black-2;
      font-size: 22px;
      font-weight: bold;
      margin-top: 20px;
      img {
        width: 30px;
        object-fit: contain;
        -o-object-fit: contain;
        margin-right: 10px;
      }
      @include breakpoint(xs) {
        justify-content: center;
        font-size: 16px;
        line-height: 20px;
      }
    }
    &__icon {
      position: absolute;
      width: 100px;
      height: 100px;
      left: calc(50% - 50px);
      top: calc(50% - 50px);
      cursor: pointer;
      z-index: 2;
      @include breakpoint(xs) {
        width: 64px;
        height: 64px;
        left: calc(50% - 30px);
        top: calc(50% - 30px);
        svg {
          width: 64px;
        }
      }
    }
  }

  &-description {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 830px;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px;
    margin: 64px 0 104px;
    @include breakpoint(sm) {
      width: 100%;
      margin: 40px 0;
    }

    &__title {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      :nth-child(1) {
        width: 85%;
        background-color: $red-medium;
        position: relative;
        -ms-flex-item-align: start;
        align-self: flex-start;
      }
      :nth-child(2) {
        position: relative;
        top: -10px;
        background-color: $red-dark;
        -ms-flex-item-align: end;
        align-self: flex-end;
        margin-left: 25px;
      }
      h1 {
        font-weight: bold;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        font-size: 32px;
        padding: 15px 12px;
        color: #f7f7f7;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        @include breakpoint(sm) {
          font-size: 24px;
          line-height: 30px;
        }
      }
    }

    &__subtitle {
      font-weight: bold;
      font-size: 24px;
      line-height: 40px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center;
      color: $grey;
      padding: 15px 25px;
      background-color: $light;

      @include breakpoint(sm) {
        @include font-small();
      }
    }
    &__text {
      margin-top: 60px;
      font-size: 16px;
      line-height: 32px;
      text-align: center;
      color: $grey;
      margin: 35px 0;
    }
  }

  &-gallery {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 720px;
    padding: 0 10% 0 10%;
    margin-bottom: 104px;
    @include breakpoint(md) {
      height: auto !important;
    }
    @include breakpoint-2(sm) {
      padding: 0;
      margin-bottom: 40px;
    }
    @media (min-width: 1367px) {
      padding: 0 10% 0 10%;
      max-width: 1480px;
    }
    &__call {
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      text-align: center;
      margin: 0 0 20px;
      color: $black-medium;

      @include breakpoint(sm) {
        font-size: 20px;
        padding: 0 16px;
      }

      &-text {
        font-size: 16px;
        line-height: 32px;
        text-align: center;
        color: $grey;
        @include breakpoint(md) {
          display: none;
        }
      }
    }
    &__wrap {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    &__item {
      display: -ms-grid;
      display: grid;
      height: 100%;
      -ms-grid-columns: 1fr 80px 2fr;
      grid-template-columns: 1fr 2fr;
      gap: 80px;
      @include breakpoint(md) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 0;
      }
    }
    &__group {
      position: relative;
      display: -ms-grid;
      display: grid;
      gap: 10px;
      -ms-grid-rows: calc(100% - 75px) 10px 65px;
      grid-template-rows: calc(100% - 75px) 65px;

      &--first {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
      }

      @include breakpoint(md) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 0;
      }
      @include breakpoint-2(sm) {
        &:nth-child(3) {
          padding: 0 16px;
        }
      }

      &-images {
        display: -ms-grid;
        display: grid;
        &:nth-child(1) {
          display: -ms-grid;
          display: grid;
          width: 100%;
          height: 100%;
          gap: 12px;
          grid-auto-rows: 150px;
          -ms-grid-columns: 1fr 12px 1.8fr;
          grid-template-columns: 1fr 1.8fr;
          :nth-child(4) {
            -ms-grid-row: 1;
            grid-row: 1;
            -ms-grid-row-span: 2;
            grid-column: 2;
            grid-area: 1 / 2 / 3;
            grid-row-start: 1;
            grid-column-start: 2;
            grid-row-end: 4;
            -ms-grid-column-span: 0;
            grid-column-end: 2;
          }
          @include breakpoint(md) {
            grid-template-columns: repeat(2, 1fr);
            -ms-grid-columns: 1fr 1fr;
            grid-auto-rows: 250px;
            :nth-child(4) {
              grid-area: auto;
              grid-row: auto;
              grid-row-start: auto;
              grid-column: auto;
              grid-column-start: auto;
              -ms-grid-row-span: NaN;
              grid-row-end: auto;
              -ms-grid-column-span: NaN;
              grid-column-end: auto;
            }
          }
          @include breakpoint-2(sm) {
            grid-auto-rows: 175px;
          }
          @include breakpoint-3(xs) {
            grid-auto-rows: 100px;
          }
        }
      }

      &-caption {
        position: absolute;
        top: calc(100% - 30px);
        font-size: 12px;
        line-height: 16px;
        color: $grey;
        span {
          font-weight: 600;
          font-size: 16px;
          line-height: 28px;
          color: $black;
        }
        @include breakpoint(md) {
          background: -webkit-gradient(
            linear,
            left top,
            left bottom,
            from(rgba(0, 0, 0, 0)),
            to(rgba(0, 0, 0, 0.8))
          );
          background: -o-linear-gradient(
            top,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0.8) 100%
          );
          background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0.8) 100%
          );
          width: 100%;
          height: 100px;
          top: 450px;
          padding: 16px;
          color: white;
          span {
            color: white;
          }
        }
        @include breakpoint-2(sm) {
          top: 300px;
        }
      }
    }
    &__text {
      display: none;
      font-size: 14px;
      line-height: 24px;
      padding: 16px;
      color: $black;
      text-align: center;
      @include breakpoint(md) {
        display: flex;
        display: -webkit-box;
        display: -ms-flexbox;
      }
    }
    &__images {
      position: relative;
      overflow: hidden;
      width: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        -o-object-fit: cover;
        @include breakpoint(md) {
          height: calc(100% - 8px);
        }
      }
      &--first {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        img {
          width: 100%;
          height: 85%;
          object-fit: cover;
          -o-object-fit: cover;
          @include breakpoint(md) {
            -o-object-position: top;
            object-position: top;
            height: 550px;
          }
          @include breakpoint-2(sm) {
            height: 400px;
          }
        }
      }
      &--miniature {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        cursor: pointer;
        .colors-pallete {
          height: 8px;
        }
      }
    }
    &-prev {
      position: absolute;
      left: 5vw;
      top: calc(50% - 20px);
      cursor: pointer;
      z-index: 2;
      @include breakpoint(md) {
        top: 25%;
      }
    }
    &-next {
      position: absolute;
      right: 5vw;
      top: calc(50% - 20px);
      cursor: pointer;
      z-index: 2;
      @include breakpoint(md) {
        top: 25%;
      }
    }
    &__shop-button {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      font-size: 16px;
      line-height: 32px;
      color: $grey;
      background-color: $grey-light;
      height: auto;
      padding: 10px 0;
      a {
        margin: 0 0 0 15px;
      }
      @include breakpoint(md) {
        margin: 15px 0 0 0;
      }
      @include breakpoint-2(sm) {
        margin: 15px 0 0 0;
        background-color: white;
        a {
          margin: 15px 10px;
        }
      }
    }
    &__title {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      span {
        width: 100%;
        padding-left: 55%;
        font-weight: bold;
        font-size: 24px;
        line-height: 40px;
        color: $grey-medium;
        @include breakpoint(md) {
          display: none;
        }
      }
    }
  }

  &-animation {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 30px 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    height: auto;
    width: 100%;
    padding: 60px 12vw;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 104px;
    background-color: $grey-light;

    @include breakpoint(md) {
      padding: 0 70px;
    }

    @media (max-width: 960px) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      height: auto;
      padding: 32px 10% 90px;
    }
    @include breakpoint(sm) {
      padding: 32px 16px 90px;
      margin-bottom: 0;
    }

    &__wrap {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      z-index: 1;
      &:nth-child(2) {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
      }

      @include breakpoint-2(sm) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        &:nth-child(2) {
          margin-bottom: 30px;
        }
      }

      .button-creative {
        margin: 0 0 30px 0;
      }

      h2 {
        color: $black;
        padding: 0 0 30px 0;
        font-size: 30px;
        font-weight: bold;
        line-height: 48px;
        @include breakpoint(lg) {
          font-size: 20px;
          line-height: 32px;
          padding: 0 0 15px 0;
        }
      }
      p {
        padding: 0 0 30px 0;
        font-size: 16px;
        line-height: 24px;
      }

      &-icon {
        font-weight: bold;
        font-size: 16px;
        line-height: 40px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        color: $red-medium;
        margin: 0 0 20px 0;
        img {
          margin-right: 30px;
          width: 30px;
          height: 30px;
        }
        @include breakpoint(lg) {
          font-size: 13.5px;
          line-height: 34px;
          margin: 0 0 15px 0;
        }
      }
      &-video {
        position: relative;
        width: 500px;
        height: 285px;
      }
    }

    &__thumb {
      width: 100%;
      height: 100%;
      background-image: url("../images/thumb-video-2.jpg");
      background-size: cover;
      background-position: center;
    }
    &__icon {
      position: absolute;
      width: 100px;
      height: 100px;
      left: calc(50% - 50px);
      top: calc(50% - 50px);
      cursor: pointer;
      z-index: 2;
      @include breakpoint(xs) {
        width: 64px;
        height: 64px;
        left: calc(50% - 30px);
        top: calc(50% - 30px);
      }
    }
  }

  &-product {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 0 104px;
    background-color: white;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    @include breakpoint(sm) {
      width: calc(100% - 32px);
      top: -85px;
      margin: 0 0 -50px;
    }
    #section-product__contrast {
      position: absolute;
      width: 580px;
      height: 100%;
      top: 5%;
      left: -200px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: left bottom;
      @media (min-width: 1700px) {
        left: 0;
      }
      @include breakpoint(md) {
        position: relative;
        top: 0;
        left: 0;
        height: 300px;
        width: auto;
        background-size: contain;
        background-position: center;
      }
    }
    #section-product__name {
      position: absolute;
      bottom: 0;
      left: 27vw;
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      @include breakpoint(md) {
        position: relative;
        width: 100%;
        left: 0;
        text-align: center;
        margin: 0 0 50px;
      }
    }
    &__description {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin: 0 0 80px 0;
      h2 {
        width: 100%;
        font-weight: bold;
        font-size: 30px;
        line-height: 40px;
        text-align: center;
        color: $black;
        padding: 20px;
        @include breakpoint(sm) {
          font-size: 20px;
          line-height: 32px;
          text-align: justify;
        }
      }
      p {
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: $grey;
        margin: 0 0 2em;
        max-width: 830px;
        @include breakpoint(lg) {
          max-width: 400px;
        }
        @include breakpoint(md) {
          max-width: 830px;
        }
        @include breakpoint-2(sm) {
          font-size: 14px;
          line-height: 24px;
        }
      }
      @include breakpoint-2(md) {
        margin: 0 0 50px;
      }
    }
    #section-product__wrap {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 0 5vw 50px 30vw;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;

      @media (min-width: 1480px) {
        padding: 0 10vw 50px 30vw;
      }

      @include breakpoint(md) {
        padding: 20px 5vw;
        overflow: auto;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
      }

      @include breakpoint-2(sm) {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
      }
    }
    &__image {
      position: relative;
      width: 152px;
      height: 158px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      cursor: pointer;
      padding: 15px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;

      svg {
        position: absolute;
        top: 0;
        left: 0;
        rect {
          stroke: $red-medium;
          stroke-width: 3px;
          stroke-dasharray: 705;
          stroke-dashoffset: 705;
        }
      }
      img {
        width: 152px;
        height: 158px;
        z-index: 1;
        object-fit: scale-down;
        -o-object-fit: scale-down;
      }
      @media (min-width: 1024px) {
        &.active {
          svg {
            rect {
              stroke-dashoffset: 0;
              -o-transition: stroke-dashoffset linear 4s;
              transition: stroke-dashoffset linear 4s;
            }
          }
        }
      }
      @include breakpoint(lg) {
        width: 126px;
        height: 158px;
        margin: 0 10px 0 0;
      }
      @include breakpoint-2(md) {
        &.active {
          &:after {
            content: "";
            position: absolute;
            top: -8px;
            left: 50%;
            background-color: #efefef;
            width: 15px;
            height: 15px;
            -webkit-transform-origin: 0 0;
            -ms-transform-origin: 0 0;
            transform-origin: 0 0;
            -webkit-transform: rotate(30deg) skewX(-30deg);
            -ms-transform: rotate(30deg) skewX(-30deg);
            transform: rotate(30deg) skewX(-30deg);
            z-index: 0;
          }
        }
      }
    }
  }

  &-inspiration {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    padding: 0 70px;
    margin-bottom: 104px;

    @media (min-width: 1367px) {
      padding: 0 10% 0 10%;
      max-width: 1480px;
    }
    @include breakpoint(sm) {
      padding: 0;
      margin-bottom: 40px;
    }
    h2 {
      padding: 0 16px;
      margin-bottom: 60px;
      @include breakpoint(sm) {
        font-size: 20px;
        line-height: 32px;
        margin-bottom: 20px;
      }
    }

    &__carousel {
      position: relative;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: 140px;
      width: 100%;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;

      @media (max-width: 1367px) {
        margin-left: 70px;
      }
      @include breakpoint(md) {
        margin-left: 0;
        padding: 0 16px;
      }

      &.flex-center {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
      }

      .glider-track {
        min-width: 100%;
      }
      &--mask {
        position: absolute;
        width: 245px !important;
        height: 150px !important;
        top: 115px;
        right: 0;
        background: -o-linear-gradient(
          184.96deg,
          #ffffff 50.02%,
          rgba(255, 255, 255, 0) 97.9%
        );
        background: linear-gradient(
          265.04deg,
          #ffffff 50.02%,
          rgba(255, 255, 255, 0) 97.9%
        );

        @include breakpoint-2(sm) {
          display: none;
        }
      }

      &-item {
        position: relative;
        height: 120px !important;
        width: 195px !important;
        cursor: pointer;
        border-radius: 4px;
        margin-right: 50px;
        @include breakpoint(md) {
          margin-right: 25px;
        }
        &.active {
          height: 170px !important;
          -webkit-clip-path: polygon(
            0% 0%,
            100% 0%,
            100% 75%,
            56% 75%,
            52% 79%,
            48% 75%,
            0% 75%
          );
          clip-path: polygon(
            0% 0%,
            100% 0%,
            100% 75%,
            56% 75%,
            52% 79%,
            48% 75%,
            0% 75%
          );
          border-radius: 4px;
        }
      }
      &-image {
        position: absolute;
        height: 100%;
        width: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: top;
        object-position: top;
      }
    }

    &__gallery {
      position: relative;
      width: 100%;
      height: auto;
      opacity: 0;
      -webkit-transition: opacity 0.25s ease-out;
      -o-transition: opacity 0.25s ease-out;
      transition: opacity 0.25s ease-out;
      @include breakpoint(md) {
        margin-top: 20px;
      }
    }

    &__wrap {
      position: relative;
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 0.9fr 20px 2fr;
      grid-template-columns: 0.9fr 2fr;
      width: 100%;
      height: 350px;
      gap: 20px;
      margin: 70px 0;

      @include breakpoint(md) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: auto;
        gap: 0;
        margin: 15px 0;
      }

      &-contrast {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        .colors {
          left: 90%;
          height: calc(100% + 50px);
        }
        img {
          width: 90%;
          height: 100%;
          -o-object-fit: cover;
          object-fit: cover;
        }
        @include breakpoint(md) {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          margin-bottom: 20px;
          .colors {
            position: relative;
            width: 100%;
            height: auto;
            left: 0;
          }
          img {
            height: 500px;
            width: 100%;
          }
        }
        @include breakpoint-2(sm) {
          img {
            height: 330px;
          }
        }
      }

      &-images {
        position: relative;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 16px 1fr;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          -o-object-fit: cover;
        }
        @include breakpoint(md) {
          padding: 0 16px;
          grid-auto-rows: 150px;
        }

        &--miniature {
          position: relative;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -o-object-fit: cover;
          object-fit: cover;
          cursor: pointer;
          .colors-pallete {
            height: 8px;
          }
        }
      }
    }
    &-caption {
      position: absolute;
      bottom: 0;
      font-size: 12px;
      line-height: 16px;
      color: white;
      width: 96%;
      height: 100px;
      padding: 12px;
      background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(0, 0, 0, 0)),
        color-stop(85.93%, rgba(0, 0, 0, 0.85))
      );
      background: -o-linear-gradient(
        top,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.85) 85.93%
      );
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.85) 85.93%
      );
      span {
        font-weight: 600;
        font-size: 16px;
        line-height: 28px;
      }
      @include breakpoint(md) {
        top: 400px;
        width: 100%;
      }
      @include breakpoint-2(sm) {
        top: 240px;
      }
    }
    &__shop-button {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      font-size: 16px;
      line-height: 32px;
      color: $grey;
      background-color: $grey-light;
      height: auto;
      padding: 10px 0;
      margin-top: 20px;
      a {
        margin: 0 0 0 15px;
      }
      @include breakpoint(md) {
        margin: 15px 0 0 0;
      }
      @include breakpoint-2(sm) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin: 15px 0 0 0;
        background-color: white;
        a {
          margin: 15px 10px;
        }
      }
    }

    &-prev {
      position: absolute;
      left: 5vw;
      top: calc(50% - 80px);
      cursor: pointer;
      z-index: 2;
      @include breakpoint-2(sm) {
        display: none;
      }
    }

    &-next {
      position: absolute;
      right: 5vw;
      top: calc(50% - 80px);
      cursor: pointer;
      z-index: 2;
      @include breakpoint-2(sm) {
        display: none;
      }
    }
  }

  &-map {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 700px;
    padding: 0 70px;
    margin-bottom: 120px;
    ::-webkit-scrollbar {
      width: 10px;
      background-color: $grey;
      -webkit-box-shadow: inset 0 0 2px grey;
      box-shadow: inset 0 0 2px grey;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
    ::-webkit-scrollbar-thumb {
      background-color: $red-medium;
      height: 20%;
    }
    @include breakpoint(md) {
      padding: 0 16px;
      height: auto;
      margin-bottom: 50px;

      ::-webkit-scrollbar {
        width: 5px;
      }
    }

    &__header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 100%;
      h2 {
        width: 100%;
        color: $black-medium;
        margin: 0 0 40px;
        @include breakpoint(sm) {
          font-size: 20px;
        }
      }
    }
    &__search {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-line-pack: center;
      align-content: center;
      margin-bottom: 30px;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      img {
        height: 30px;
        -o-object-fit: contain;
        object-fit: contain;
      }
      @include breakpoint(md) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
      }
      &-intersection {
        padding: 0 50px;
      }
    }
    &__location {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      cursor: pointer;
      margin: 0 50px;
      strong {
        font-size: 1em;
        color: $red-medium;
        object-fit: contain;
        -o-object-fit: contain;
        min-width: 250px;
        padding: 0 0 0 10px;
      }
      @include breakpoint(md) {
      }
    }
    &__navigation {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 30px;
      :first-child {
        margin-right: 20px;
      }
      .button-creative {
        background-color: $red-medium;
      }
      @include breakpoint(sm) {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
      }
    }
    &__input-group {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      button {
        height: 45px;
        width: 45px;
        background-color: $red-medium;
        outline: none;
        border: none;
      }
      input {
        height: 45px;
        background-position: left center;
        padding: 0 0 0 20px;
        outline: none;
        font-weight: 400;
        font-size: 14px;
        border: 1px solid $grey-medium;
        width: 250px;
        margin: 10px 0;
        @include breakpoint(xs) {
          width: calc(100% - 90px);
        }
      }
      @include breakpoint(xs) {
        width: 100%;
      }
      @include breakpoint-2(sm) {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
      }
    }
    &__wrap {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      height: 400px;
      @include breakpoint(md) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: 650px;
      }
      @include breakpoint-2(sm) {
        height: 550px;
      }
    }
    #google-map {
      width: 70%;
      height: 100%;
      @include breakpoint(md) {
        width: 100%;
        height: 300px;
        margin-bottom: 30px;
      }
      @include breakpoint-2(sm) {
        height: 200px;
      }
    }
    &__list {
      width: 30%;
      height: 100%;
      padding: 0 20px;
      overflow-y: auto;
      ul {
        padding: 0;
        margin: 0;
      }
      li {
        list-style: none;
        padding-bottom: 20px;
      }

      @include breakpoint(md) {
        width: 100%;
        height: 300px;
      }

      &-name {
        color: $red-medium;
        font-weight: bold;
        font-size: 1em;
      }
      &-info {
        color: $grey;
        font-size: 0.8em;
        text-transform: capitalize;
      }
    }
  }

  &-pinterest {
    width: 100%;
    height: 305px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    background-image: url("../images/pinterest.png");
    @include breakpoint(lg) {
      background-position: 70% center;
    }
    @include breakpoint(md) {
      background-image: url("../images/pinterest-mobile.png");
      height: 230px;
    }
    &__wrap {
      position: relative;
      left: 60%;
      width: 40%;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      background-color: $red;
      padding: 40px 40px 40px 70px;
      -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 14% 100%);
      clip-path: polygon(0 0, 100% 0%, 100% 100%, 14% 100%);
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      @include breakpoint(md) {
        left: 40%;
        width: 60%;
        padding: 20px 20px 20px 30px;
      }
      h3 {
        font-size: 26px;
        font-weight: 400;
        color: white;
        text-align: center;
        @include breakpoint(md) {
          font-size: 1em;
        }
      }
      .button-creative {
        background-color: white;
        color: $red-medium;
        font-weight: bold;
        font-size: 0.8em;
        height: auto;
        text-transform: capitalize;
        &:hover {
          color: $red-medium !important;
        }
        @media (max-width: 500px) {
          padding: 10px 10px;
          line-height: normal;
        }
      }
    }
    &__logo {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      color: white;
      font-weight: bold;
      font-size: 1em;
      img {
        object-fit: contain;
        -o-object-fit: contain;
        height: 40px;
      }
    }
  }
}

.button-creative {
  width: auto;
  height: 40px;
  line-height: 40px;
  padding: 0 32px;
  background: $red-medium;
  border-radius: 32px;
  border: none;
  color: $light;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
  &:hover {
    color: $light !important;
  }
}

.expand {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(0, 0, 0, 0.5)),
    to(rgba(0, 0, 0, 0.5))
  );
  background: -o-linear-gradient(
    bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  );
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  opacity: 0;
  -o-object-fit: contain;
  object-fit: contain;
  &:after {
    position: relative;
    left: calc(50% - 20px);
    top: calc(50% - 20px);
    content: url("../images/icons/ic-expand.svg");
  }
  &:hover {
    opacity: 1;
  }
  @include breakpoint(md) {
    opacity: 1;
    background: none;

    &:after {
      position: relative;
      left: calc(100% - 45px);
      top: calc(100% - 50px);
      content: url("../images/icons/ic-expand.svg");
    }
  }
}

.colors {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  left: 99%;
  height: 100%;
  color: white;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  @include breakpoint(md) {
    position: relative;
    height: auto;
    left: 0;
  }
  &.active {
    .colors-pallete {
      display: none;
    }
  }
  &--left {
    left: 0;
  }
  &-pallete {
    position: relative;
    display: none;
    .colors-item {
      background-image: none;
      padding: 0;
      width: auto;
    }
    @include breakpoint(md) {
      display: -ms-grid;
      display: grid;
      -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
      height: 40px;
    }
  }
  &-pallete-name {
    position: absolute;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
    height: 100%;
    @include breakpoint(md) {
      position: relative;
      display: none;
      width: 100%;
      height: auto;
    }
  }
  &-visible {
    display: -ms-grid;
    display: grid;
  }
  &-item {
    position: relative;
    width: 25px;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-image: url("../images/icons/ic-color.svg");
    background-repeat: no-repeat;
    background-position: 26px center;
    -webkit-transition: width 0.3s ease;
    -o-transition: width 0.3s ease;
    transition: width 0.3s ease;
    z-index: 5;
    .colors-name {
      margin: 0;
      padding: 0;
      font-size: 20px;
      line-height: 32px;
      white-space: nowrap;
      visibility: hidden;
    }
    @media (min-width: 1024px) {
      &:hover {
        padding: 0 25px 0 70px;
        width: 285px;
        .colors-name {
          visibility: visible;
          cursor: auto;
        }
      }
    }
    @include breakpoint(md) {
      position: relative;
      padding: 0 25px 0 70px;
      width: 100%;
      height: 50px;
      .colors-name {
        visibility: visible;
      }
    }
  }
}

.accordion {
  display: none;
  outline: none;
  border: none;
  background-color: $light;
  height: 45px;
  span {
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;
    color: $red-medium;
    margin: 0 5% 0 0;
    cursor: pointer;
  }

  img {
    height: auto !important;
    width: 20px !important;
  }

  &.active {
    img {
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }
  @include breakpoint(md) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.modal-creative {
  display: none;
  position: fixed;
  margin: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 99;

  &__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 15px;
    color: $black;
    &-title {
      font-size: 16px;
      line-height: 32px;
    }
  }

  &__content {
    position: relative;
    display: block;
    margin: auto;
    top: calc(50% - 200px);
    padding: 20px;
    background-color: $light;
    width: 720px;
    height: 530px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    @include breakpoint(md) {
      width: 80%;
      height: 70%;
      border-radius: 16px;
    }
    @include breakpoint(sm) {
      width: 90%;
      top: 20%;
    }
  }

  &__body {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 70px);
    padding: 0 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    @include breakpoint-2(sm) {
      padding: 0;
    }
    &-image {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      height: calc(100% - 60px);
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        -o-object-fit: cover;
      }
      @include breakpoint(md) {
        .colors {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
        }
        img {
          height: 82%;
        }
      }

      @include breakpoint(sm) {
        .colors {
          width: 100%;
        }
      }

      .colors-pallete--modal {
        display: -ms-grid;
        display: grid;
        gap: 10px;
        grid-auto-rows: 40px;
        margin-top: 10px;
        grid-auto-columns: repeat(auto-fit, minmax(30%, 1fr));
      }
    }

    &-shop-button {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 10px 50px;
      margin-top: 12px;
      background-color: $grey-light;
      color: $grey-medium;
      @include breakpoint(sm) {
        background-color: transparent;
        padding: 10px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-top: 0;
        a {
          margin-top: 10px;
        }
      }
    }
  }
  &__prev {
    position: absolute;
    left: 15px;
    top: calc(50% - 25px);
    cursor: pointer;
    z-index: 2;
    @include breakpoint-2(sm) {
      left: 25px;
      top: calc(50% - 50px);
    }
  }

  &__next {
    position: absolute;
    right: 15px;
    top: calc(50% - 25px);
    cursor: pointer;
    z-index: 2;
    @include breakpoint-2(sm) {
      right: 25px;
      top: calc(50% - 50px);
    }
  }

  &__color-name {
    height: 45px;
    width: 100%;
    position: absolute;
    bottom: 50px;
    div {
      height: 100%;
      width: 100%;
    }
  }
}

.creative-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: $grey-light;
  color: $grey-medium;
  float: right;
  font-size: 40px;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  font-weight: lighter;
  &:hover,
  &:focus {
    color: $red-medium;
    text-decoration: none;
    cursor: pointer;
  }

  &--transparent {
    background-color: transparent;
    color: white;
  }
}
