$breakpoints: (
  xs: 600px,
  sm: 767px,
  md: 1023px,
  lg: 1200px,
  xlg: 1300px,
  xxlg: 1919px,
);

@mixin breakpoint($size) {
  @media screen and (max-width: map-get($breakpoints, $size)) {
    @content;
  }
}

@mixin breakpoint-2($size) {
  @media screen and (max-width: map-get($breakpoints, $size)) {
    @content;
  }
}

@mixin breakpoint-3($size) {
  @media screen and (max-width: map-get($breakpoints, $size)) {
    @content;
  }
}

@mixin font-small {
  font-size: 16px;
}

@mixin font-medium {
  font-size: 24px;
}

@mixin font-large {
  font-size: 32px;
}
