/*colors*/
$red-medium: #e7373f;
$red-dark: #8c1417;
$grey-light: #efefef;
$grey-medium: #999999;
$grey: #666666;
$light: #f7f7f7;
$black: #040302;
$black-2: #221f18;
$black-medium: #130f0a;
$orange: #f66602;
$red: #ce0a2c;
$yellow: #ffb003;
