/*colors*/
@font-face {
  font-family: "Suvinil Sans";
  src: url("../fonts/SuvinilSans/SuvinilSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Suvinil Sans";
  src: url("../fonts/SuvinilSans/SuvinilSans-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Suvinil Sans";
  src: url("../fonts/SuvinilSans/SuvinilSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Suvinil Sans", sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0; }

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.main {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 115px;
  width: 100%;
  height: 100%; }

.section-video {
  position: relative;
  width: 100%;
  height: 408px; }
  @media screen and (max-width: 600px) {
    .section-video {
      height: 400px; } }
  .section-video__thumb {
    width: 100%;
    height: 100%;
    background-image: url("../images/capa.jpg");
    background-size: cover;
    background-position: 100px center;
    background-repeat: no-repeat;
    background-color: #ff394a; }
    @media (min-width: 1400px) {
      .section-video__thumb {
        background-size: contain;
        background-position: right center; } }
    @media screen and (max-width: 1200px) {
      .section-video__thumb {
        background-position: 200px center; } }
    @media screen and (max-width: 1023px) {
      .section-video__thumb {
        background-position: 100px center; } }
    @media screen and (max-width: 767px) {
      .section-video__thumb {
        background-position: left center; } }
    @media screen and (max-width: 600px) {
      .section-video__thumb {
        background-image: url("../images/capa-mobile.jpg");
        background-position: center; } }
  .section-video__description {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%; }
    @media screen and (max-width: 600px) {
      .section-video__description {
        align-items: center;
        padding: 0;
        height: 200px; } }
    @media (min-width: 1800px) {
      .section-video__description {
        padding-left: 20%; } }
  .section-video__title {
    color: #ffb003;
    font-size: 36px;
    margin-bottom: 20px; }
    @media screen and (max-width: 767px) {
      .section-video__title {
        font-size: 24px;
        margin-bottom: 10px; } }
  .section-video__text {
    color: white;
    font-size: 26px;
    line-height: 36px; }
    @media screen and (max-width: 767px) {
      .section-video__text {
        font-size: 16px;
        line-height: 24px; } }
  .section-video__logo {
    display: flex;
    align-items: flex-end;
    width: 100%;
    color: #221f18;
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px; }
    .section-video__logo img {
      width: 30px;
      object-fit: contain;
      -o-object-fit: contain;
      margin-right: 10px; }
    @media screen and (max-width: 600px) {
      .section-video__logo {
        justify-content: center;
        font-size: 16px;
        line-height: 20px; } }
  .section-video__icon {
    position: absolute;
    width: 100px;
    height: 100px;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
    cursor: pointer;
    z-index: 2; }
    @media screen and (max-width: 600px) {
      .section-video__icon {
        width: 64px;
        height: 64px;
        left: calc(50% - 30px);
        top: calc(50% - 30px); }
        .section-video__icon svg {
          width: 64px; } }

.section-description {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 830px;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px;
  margin: 64px 0 104px; }
  @media screen and (max-width: 767px) {
    .section-description {
      width: 100%;
      margin: 40px 0; } }
  .section-description__title {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .section-description__title :nth-child(1) {
      width: 85%;
      background-color: #e7373f;
      position: relative;
      -ms-flex-item-align: start;
      align-self: flex-start; }
    .section-description__title :nth-child(2) {
      position: relative;
      top: -10px;
      background-color: #8c1417;
      -ms-flex-item-align: end;
      align-self: flex-end;
      margin-left: 25px; }
    .section-description__title h1 {
      font-weight: bold;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      font-size: 32px;
      padding: 15px 12px;
      color: #f7f7f7;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
      @media screen and (max-width: 767px) {
        .section-description__title h1 {
          font-size: 24px;
          line-height: 30px; } }
  .section-description__subtitle {
    font-weight: bold;
    font-size: 24px;
    line-height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    color: #666666;
    padding: 15px 25px;
    background-color: #f7f7f7; }
    @media screen and (max-width: 767px) {
      .section-description__subtitle {
        font-size: 16px; } }
  .section-description__text {
    margin-top: 60px;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    color: #666666;
    margin: 35px 0; }

.section-gallery {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 720px;
  padding: 0 10% 0 10%;
  margin-bottom: 104px; }
  @media screen and (max-width: 1023px) {
    .section-gallery {
      height: auto !important; } }
  @media screen and (max-width: 767px) {
    .section-gallery {
      padding: 0;
      margin-bottom: 40px; } }
  @media (min-width: 1367px) {
    .section-gallery {
      padding: 0 10% 0 10%;
      max-width: 1480px; } }
  .section-gallery__call {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    margin: 0 0 20px;
    color: #130f0a; }
    @media screen and (max-width: 767px) {
      .section-gallery__call {
        font-size: 20px;
        padding: 0 16px; } }
    .section-gallery__call-text {
      font-size: 16px;
      line-height: 32px;
      text-align: center;
      color: #666666; }
      @media screen and (max-width: 1023px) {
        .section-gallery__call-text {
          display: none; } }
  .section-gallery__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden; }
  .section-gallery__item {
    display: -ms-grid;
    display: grid;
    height: 100%;
    -ms-grid-columns: 1fr 80px 2fr;
    grid-template-columns: 1fr 2fr;
    gap: 80px; }
    @media screen and (max-width: 1023px) {
      .section-gallery__item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 0; } }
  .section-gallery__group {
    position: relative;
    display: -ms-grid;
    display: grid;
    gap: 10px;
    -ms-grid-rows: calc(100% - 75px) 10px 65px;
    grid-template-rows: calc(100% - 75px) 65px; }
    .section-gallery__group--first {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      -ms-grid-rows: 1fr;
      grid-template-rows: 1fr; }
    @media screen and (max-width: 1023px) {
      .section-gallery__group {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 0; } }
    @media screen and (max-width: 767px) {
      .section-gallery__group:nth-child(3) {
        padding: 0 16px; } }
    .section-gallery__group-images {
      display: -ms-grid;
      display: grid; }
      .section-gallery__group-images:nth-child(1) {
        display: -ms-grid;
        display: grid;
        width: 100%;
        height: 100%;
        gap: 12px;
        grid-auto-rows: 150px;
        -ms-grid-columns: 1fr 12px 1.8fr;
        grid-template-columns: 1fr 1.8fr; }
        .section-gallery__group-images:nth-child(1) :nth-child(4) {
          -ms-grid-row: 1;
          grid-row: 1;
          -ms-grid-row-span: 2;
          grid-column: 2;
          grid-area: 1 / 2 / 3;
          grid-row-start: 1;
          grid-column-start: 2;
          grid-row-end: 4;
          -ms-grid-column-span: 0;
          grid-column-end: 2; }
        @media screen and (max-width: 1023px) {
          .section-gallery__group-images:nth-child(1) {
            grid-template-columns: repeat(2, 1fr);
            -ms-grid-columns: 1fr 1fr;
            grid-auto-rows: 250px; }
            .section-gallery__group-images:nth-child(1) :nth-child(4) {
              grid-area: auto;
              grid-row: auto;
              grid-row-start: auto;
              grid-column: auto;
              grid-column-start: auto;
              -ms-grid-row-span: NaN;
              grid-row-end: auto;
              -ms-grid-column-span: NaN;
              grid-column-end: auto; } }
        @media screen and (max-width: 767px) {
          .section-gallery__group-images:nth-child(1) {
            grid-auto-rows: 175px; } }
        @media screen and (max-width: 600px) {
          .section-gallery__group-images:nth-child(1) {
            grid-auto-rows: 100px; } }
    .section-gallery__group-caption {
      position: absolute;
      top: calc(100% - 30px);
      font-size: 12px;
      line-height: 16px;
      color: #666666; }
      .section-gallery__group-caption span {
        font-weight: 600;
        font-size: 16px;
        line-height: 28px;
        color: #040302; }
      @media screen and (max-width: 1023px) {
        .section-gallery__group-caption {
          background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.8)));
          background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
          background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
          width: 100%;
          height: 100px;
          top: 450px;
          padding: 16px;
          color: white; }
          .section-gallery__group-caption span {
            color: white; } }
      @media screen and (max-width: 767px) {
        .section-gallery__group-caption {
          top: 300px; } }
  .section-gallery__text {
    display: none;
    font-size: 14px;
    line-height: 24px;
    padding: 16px;
    color: #040302;
    text-align: center; }
    @media screen and (max-width: 1023px) {
      .section-gallery__text {
        display: flex;
        display: -webkit-box;
        display: -ms-flexbox; } }
  .section-gallery__images {
    position: relative;
    overflow: hidden;
    width: 100%; }
    .section-gallery__images img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      -o-object-fit: cover; }
      @media screen and (max-width: 1023px) {
        .section-gallery__images img {
          height: calc(100% - 8px); } }
    .section-gallery__images--first {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .section-gallery__images--first img {
        width: 100%;
        height: 85%;
        object-fit: cover;
        -o-object-fit: cover; }
        @media screen and (max-width: 1023px) {
          .section-gallery__images--first img {
            -o-object-position: top;
            object-position: top;
            height: 550px; } }
        @media screen and (max-width: 767px) {
          .section-gallery__images--first img {
            height: 400px; } }
    .section-gallery__images--miniature {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      cursor: pointer; }
      .section-gallery__images--miniature .colors-pallete {
        height: 8px; }
  .section-gallery-prev {
    position: absolute;
    left: 5vw;
    top: calc(50% - 20px);
    cursor: pointer;
    z-index: 2; }
    @media screen and (max-width: 1023px) {
      .section-gallery-prev {
        top: 25%; } }
  .section-gallery-next {
    position: absolute;
    right: 5vw;
    top: calc(50% - 20px);
    cursor: pointer;
    z-index: 2; }
    @media screen and (max-width: 1023px) {
      .section-gallery-next {
        top: 25%; } }
  .section-gallery__shop-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 16px;
    line-height: 32px;
    color: #666666;
    background-color: #efefef;
    height: auto;
    padding: 10px 0; }
    .section-gallery__shop-button a {
      margin: 0 0 0 15px; }
    @media screen and (max-width: 1023px) {
      .section-gallery__shop-button {
        margin: 15px 0 0 0; } }
    @media screen and (max-width: 767px) {
      .section-gallery__shop-button {
        margin: 15px 0 0 0;
        background-color: white; }
        .section-gallery__shop-button a {
          margin: 15px 10px; } }
  .section-gallery__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .section-gallery__title span {
      width: 100%;
      padding-left: 55%;
      font-weight: bold;
      font-size: 24px;
      line-height: 40px;
      color: #999999; }
      @media screen and (max-width: 1023px) {
        .section-gallery__title span {
          display: none; } }

.section-animation {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  height: auto;
  width: 100%;
  padding: 60px 12vw;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 104px;
  background-color: #efefef; }
  @media screen and (max-width: 1023px) {
    .section-animation {
      padding: 0 70px; } }
  @media (max-width: 960px) {
    .section-animation {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      height: auto;
      padding: 32px 10% 90px; } }
  @media screen and (max-width: 767px) {
    .section-animation {
      padding: 32px 16px 90px;
      margin-bottom: 0; } }
  .section-animation__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 1; }
    .section-animation__wrap:nth-child(2) {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    @media screen and (max-width: 767px) {
      .section-animation__wrap {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
        .section-animation__wrap:nth-child(2) {
          margin-bottom: 30px; } }
    .section-animation__wrap .button-creative {
      margin: 0 0 30px 0; }
    .section-animation__wrap h2 {
      color: #040302;
      padding: 0 0 30px 0;
      font-size: 30px;
      font-weight: bold;
      line-height: 48px; }
      @media screen and (max-width: 1200px) {
        .section-animation__wrap h2 {
          font-size: 20px;
          line-height: 32px;
          padding: 0 0 15px 0; } }
    .section-animation__wrap p {
      padding: 0 0 30px 0;
      font-size: 16px;
      line-height: 24px; }
    .section-animation__wrap-icon {
      font-weight: bold;
      font-size: 16px;
      line-height: 40px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      color: #e7373f;
      margin: 0 0 20px 0; }
      .section-animation__wrap-icon img {
        margin-right: 30px;
        width: 30px;
        height: 30px; }
      @media screen and (max-width: 1200px) {
        .section-animation__wrap-icon {
          font-size: 13.5px;
          line-height: 34px;
          margin: 0 0 15px 0; } }
    .section-animation__wrap-video {
      position: relative;
      width: 500px;
      height: 285px; }
  .section-animation__thumb {
    width: 100%;
    height: 100%;
    background-image: url("../images/thumb-video-2.jpg");
    background-size: cover;
    background-position: center; }
  .section-animation__icon {
    position: absolute;
    width: 100px;
    height: 100px;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
    cursor: pointer;
    z-index: 2; }
    @media screen and (max-width: 600px) {
      .section-animation__icon {
        width: 64px;
        height: 64px;
        left: calc(50% - 30px);
        top: calc(50% - 30px); } }

.section-product {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 0 104px;
  background-color: white;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  @media screen and (max-width: 767px) {
    .section-product {
      width: calc(100% - 32px);
      top: -85px;
      margin: 0 0 -50px; } }
  .section-product #section-product__contrast {
    position: absolute;
    width: 580px;
    height: 100%;
    top: 5%;
    left: -200px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left bottom; }
    @media (min-width: 1700px) {
      .section-product #section-product__contrast {
        left: 0; } }
    @media screen and (max-width: 1023px) {
      .section-product #section-product__contrast {
        position: relative;
        top: 0;
        left: 0;
        height: 300px;
        width: auto;
        background-size: contain;
        background-position: center; } }
  .section-product #section-product__name {
    position: absolute;
    bottom: 0;
    left: 27vw;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px; }
    @media screen and (max-width: 1023px) {
      .section-product #section-product__name {
        position: relative;
        width: 100%;
        left: 0;
        text-align: center;
        margin: 0 0 50px; } }
  .section-product__description {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 0 80px 0; }
    .section-product__description h2 {
      width: 100%;
      font-weight: bold;
      font-size: 30px;
      line-height: 40px;
      text-align: center;
      color: #040302;
      padding: 20px; }
      @media screen and (max-width: 767px) {
        .section-product__description h2 {
          font-size: 20px;
          line-height: 32px;
          text-align: justify; } }
    .section-product__description p {
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: #666666;
      margin: 0 0 2em;
      max-width: 830px; }
      @media screen and (max-width: 1200px) {
        .section-product__description p {
          max-width: 400px; } }
      @media screen and (max-width: 1023px) {
        .section-product__description p {
          max-width: 830px; } }
      @media screen and (max-width: 767px) {
        .section-product__description p {
          font-size: 14px;
          line-height: 24px; } }
    @media screen and (max-width: 1023px) {
      .section-product__description {
        margin: 0 0 50px; } }
  .section-product #section-product__wrap {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 5vw 50px 30vw;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    @media (min-width: 1480px) {
      .section-product #section-product__wrap {
        padding: 0 10vw 50px 30vw; } }
    @media screen and (max-width: 1023px) {
      .section-product #section-product__wrap {
        padding: 20px 5vw;
        overflow: auto;
        box-sizing: border-box;
        -webkit-box-sizing: border-box; } }
    @media screen and (max-width: 767px) {
      .section-product #section-product__wrap {
        box-sizing: border-box;
        -webkit-box-sizing: border-box; } }
  .section-product__image {
    position: relative;
    width: 152px;
    height: 158px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    padding: 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .section-product__image svg {
      position: absolute;
      top: 0;
      left: 0; }
      .section-product__image svg rect {
        stroke: #e7373f;
        stroke-width: 3px;
        stroke-dasharray: 705;
        stroke-dashoffset: 705; }
    .section-product__image img {
      width: 152px;
      height: 158px;
      z-index: 1;
      object-fit: scale-down;
      -o-object-fit: scale-down; }
    @media (min-width: 1024px) {
      .section-product__image.active svg rect {
        stroke-dashoffset: 0;
        -o-transition: stroke-dashoffset linear 4s;
        transition: stroke-dashoffset linear 4s; } }
    @media screen and (max-width: 1200px) {
      .section-product__image {
        width: 126px;
        height: 158px;
        margin: 0 10px 0 0; } }
    @media screen and (max-width: 1023px) {
      .section-product__image.active:after {
        content: "";
        position: absolute;
        top: -8px;
        left: 50%;
        background-color: #efefef;
        width: 15px;
        height: 15px;
        -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: rotate(30deg) skewX(-30deg);
        -ms-transform: rotate(30deg) skewX(-30deg);
        transform: rotate(30deg) skewX(-30deg);
        z-index: 0; } }

.section-inspiration {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 0 70px;
  margin-bottom: 104px; }
  @media (min-width: 1367px) {
    .section-inspiration {
      padding: 0 10% 0 10%;
      max-width: 1480px; } }
  @media screen and (max-width: 767px) {
    .section-inspiration {
      padding: 0;
      margin-bottom: 40px; } }
  .section-inspiration h2 {
    padding: 0 16px;
    margin-bottom: 60px; }
    @media screen and (max-width: 767px) {
      .section-inspiration h2 {
        font-size: 20px;
        line-height: 32px;
        margin-bottom: 20px; } }
  .section-inspiration__carousel {
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 140px;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    @media (max-width: 1367px) {
      .section-inspiration__carousel {
        margin-left: 70px; } }
    @media screen and (max-width: 1023px) {
      .section-inspiration__carousel {
        margin-left: 0;
        padding: 0 16px; } }
    .section-inspiration__carousel.flex-center {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .section-inspiration__carousel .glider-track {
      min-width: 100%; }
    .section-inspiration__carousel--mask {
      position: absolute;
      width: 245px !important;
      height: 150px !important;
      top: 115px;
      right: 0;
      background: -o-linear-gradient(184.96deg, #ffffff 50.02%, rgba(255, 255, 255, 0) 97.9%);
      background: linear-gradient(265.04deg, #ffffff 50.02%, rgba(255, 255, 255, 0) 97.9%); }
      @media screen and (max-width: 767px) {
        .section-inspiration__carousel--mask {
          display: none; } }
    .section-inspiration__carousel-item {
      position: relative;
      height: 120px !important;
      width: 195px !important;
      cursor: pointer;
      border-radius: 4px;
      margin-right: 50px; }
      @media screen and (max-width: 1023px) {
        .section-inspiration__carousel-item {
          margin-right: 25px; } }
      .section-inspiration__carousel-item.active {
        height: 170px !important;
        -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 56% 75%, 52% 79%, 48% 75%, 0% 75%);
        clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 56% 75%, 52% 79%, 48% 75%, 0% 75%);
        border-radius: 4px; }
    .section-inspiration__carousel-image {
      position: absolute;
      height: 100%;
      width: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: top;
      object-position: top; }
  .section-inspiration__gallery {
    position: relative;
    width: 100%;
    height: auto;
    opacity: 0;
    -webkit-transition: opacity 0.25s ease-out;
    -o-transition: opacity 0.25s ease-out;
    transition: opacity 0.25s ease-out; }
    @media screen and (max-width: 1023px) {
      .section-inspiration__gallery {
        margin-top: 20px; } }
  .section-inspiration__wrap {
    position: relative;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.9fr 20px 2fr;
    grid-template-columns: 0.9fr 2fr;
    width: 100%;
    height: 350px;
    gap: 20px;
    margin: 70px 0; }
    @media screen and (max-width: 1023px) {
      .section-inspiration__wrap {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: auto;
        gap: 0;
        margin: 15px 0; } }
    .section-inspiration__wrap-contrast {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
      .section-inspiration__wrap-contrast .colors {
        left: 90%;
        height: calc(100% + 50px); }
      .section-inspiration__wrap-contrast img {
        width: 90%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover; }
      @media screen and (max-width: 1023px) {
        .section-inspiration__wrap-contrast {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          margin-bottom: 20px; }
          .section-inspiration__wrap-contrast .colors {
            position: relative;
            width: 100%;
            height: auto;
            left: 0; }
          .section-inspiration__wrap-contrast img {
            height: 500px;
            width: 100%; } }
      @media screen and (max-width: 767px) {
        .section-inspiration__wrap-contrast img {
          height: 330px; } }
    .section-inspiration__wrap-images {
      position: relative;
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr 16px 1fr;
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
      .section-inspiration__wrap-images img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        -o-object-fit: cover; }
      @media screen and (max-width: 1023px) {
        .section-inspiration__wrap-images {
          padding: 0 16px;
          grid-auto-rows: 150px; } }
      .section-inspiration__wrap-images--miniature {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -o-object-fit: cover;
        object-fit: cover;
        cursor: pointer; }
        .section-inspiration__wrap-images--miniature .colors-pallete {
          height: 8px; }
  .section-inspiration-caption {
    position: absolute;
    bottom: 0;
    font-size: 12px;
    line-height: 16px;
    color: white;
    width: 96%;
    height: 100px;
    padding: 12px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(85.93%, rgba(0, 0, 0, 0.85)));
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.85) 85.93%);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.85) 85.93%); }
    .section-inspiration-caption span {
      font-weight: 600;
      font-size: 16px;
      line-height: 28px; }
    @media screen and (max-width: 1023px) {
      .section-inspiration-caption {
        top: 400px;
        width: 100%; } }
    @media screen and (max-width: 767px) {
      .section-inspiration-caption {
        top: 240px; } }
  .section-inspiration__shop-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 16px;
    line-height: 32px;
    color: #666666;
    background-color: #efefef;
    height: auto;
    padding: 10px 0;
    margin-top: 20px; }
    .section-inspiration__shop-button a {
      margin: 0 0 0 15px; }
    @media screen and (max-width: 1023px) {
      .section-inspiration__shop-button {
        margin: 15px 0 0 0; } }
    @media screen and (max-width: 767px) {
      .section-inspiration__shop-button {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin: 15px 0 0 0;
        background-color: white; }
        .section-inspiration__shop-button a {
          margin: 15px 10px; } }
  .section-inspiration-prev {
    position: absolute;
    left: 5vw;
    top: calc(50% - 80px);
    cursor: pointer;
    z-index: 2; }
    @media screen and (max-width: 767px) {
      .section-inspiration-prev {
        display: none; } }
  .section-inspiration-next {
    position: absolute;
    right: 5vw;
    top: calc(50% - 80px);
    cursor: pointer;
    z-index: 2; }
    @media screen and (max-width: 767px) {
      .section-inspiration-next {
        display: none; } }

.section-map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 700px;
  padding: 0 70px;
  margin-bottom: 120px; }
  .section-map ::-webkit-scrollbar {
    width: 10px;
    background-color: #666666;
    -webkit-box-shadow: inset 0 0 2px grey;
    box-shadow: inset 0 0 2px grey;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .section-map ::-webkit-scrollbar-thumb {
    background-color: #e7373f;
    height: 20%; }
  @media screen and (max-width: 1023px) {
    .section-map {
      padding: 0 16px;
      height: auto;
      margin-bottom: 50px; }
      .section-map ::-webkit-scrollbar {
        width: 5px; } }
  .section-map__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%; }
    .section-map__header h2 {
      width: 100%;
      color: #130f0a;
      margin: 0 0 40px; }
      @media screen and (max-width: 767px) {
        .section-map__header h2 {
          font-size: 20px; } }
  .section-map__search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    margin-bottom: 30px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .section-map__search img {
      height: 30px;
      -o-object-fit: contain;
      object-fit: contain; }
    @media screen and (max-width: 1023px) {
      .section-map__search {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
    .section-map__search-intersection {
      padding: 0 50px; }
  .section-map__location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    margin: 0 50px; }
    .section-map__location strong {
      font-size: 1em;
      color: #e7373f;
      object-fit: contain;
      -o-object-fit: contain;
      min-width: 250px;
      padding: 0 0 0 10px; }
  .section-map__navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 30px; }
    .section-map__navigation :first-child {
      margin-right: 20px; }
    .section-map__navigation .button-creative {
      background-color: #e7373f; }
    @media screen and (max-width: 767px) {
      .section-map__navigation {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; } }
  .section-map__input-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .section-map__input-group button {
      height: 45px;
      width: 45px;
      background-color: #e7373f;
      outline: none;
      border: none; }
    .section-map__input-group input {
      height: 45px;
      background-position: left center;
      padding: 0 0 0 20px;
      outline: none;
      font-weight: 400;
      font-size: 14px;
      border: 1px solid #999999;
      width: 250px;
      margin: 10px 0; }
      @media screen and (max-width: 600px) {
        .section-map__input-group input {
          width: calc(100% - 90px); } }
    @media screen and (max-width: 600px) {
      .section-map__input-group {
        width: 100%; } }
    @media screen and (max-width: 767px) {
      .section-map__input-group {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; } }
  .section-map__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 400px; }
    @media screen and (max-width: 1023px) {
      .section-map__wrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: 650px; } }
    @media screen and (max-width: 767px) {
      .section-map__wrap {
        height: 550px; } }
  .section-map #google-map {
    width: 70%;
    height: 100%; }
    @media screen and (max-width: 1023px) {
      .section-map #google-map {
        width: 100%;
        height: 300px;
        margin-bottom: 30px; } }
    @media screen and (max-width: 767px) {
      .section-map #google-map {
        height: 200px; } }
  .section-map__list {
    width: 30%;
    height: 100%;
    padding: 0 20px;
    overflow-y: auto; }
    .section-map__list ul {
      padding: 0;
      margin: 0; }
    .section-map__list li {
      list-style: none;
      padding-bottom: 20px; }
    @media screen and (max-width: 1023px) {
      .section-map__list {
        width: 100%;
        height: 300px; } }
    .section-map__list-name {
      color: #e7373f;
      font-weight: bold;
      font-size: 1em; }
    .section-map__list-info {
      color: #666666;
      font-size: 0.8em;
      text-transform: capitalize; }

.section-pinterest {
  width: 100%;
  height: 305px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
  background-image: url("../images/pinterest.png"); }
  @media screen and (max-width: 1200px) {
    .section-pinterest {
      background-position: 70% center; } }
  @media screen and (max-width: 1023px) {
    .section-pinterest {
      background-image: url("../images/pinterest-mobile.png");
      height: 230px; } }
  .section-pinterest__wrap {
    position: relative;
    left: 60%;
    width: 40%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #ce0a2c;
    padding: 40px 40px 40px 70px;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 14% 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 14% 100%);
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    @media screen and (max-width: 1023px) {
      .section-pinterest__wrap {
        left: 40%;
        width: 60%;
        padding: 20px 20px 20px 30px; } }
    .section-pinterest__wrap h3 {
      font-size: 26px;
      font-weight: 400;
      color: white;
      text-align: center; }
      @media screen and (max-width: 1023px) {
        .section-pinterest__wrap h3 {
          font-size: 1em; } }
    .section-pinterest__wrap .button-creative {
      background-color: white;
      color: #e7373f;
      font-weight: bold;
      font-size: 0.8em;
      height: auto;
      text-transform: capitalize; }
      .section-pinterest__wrap .button-creative:hover {
        color: #e7373f !important; }
      @media (max-width: 500px) {
        .section-pinterest__wrap .button-creative {
          padding: 10px 10px;
          line-height: normal; } }
  .section-pinterest__logo {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 1em; }
    .section-pinterest__logo img {
      object-fit: contain;
      -o-object-fit: contain;
      height: 40px; }

.button-creative {
  width: auto;
  height: 40px;
  line-height: 40px;
  padding: 0 32px;
  background: #e7373f;
  border-radius: 32px;
  border: none;
  color: #f7f7f7;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
  cursor: pointer; }
  .button-creative:hover {
    color: #f7f7f7 !important; }

.expand {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)));
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  opacity: 0;
  -o-object-fit: contain;
  object-fit: contain; }
  .expand:after {
    position: relative;
    left: calc(50% - 20px);
    top: calc(50% - 20px);
    content: url("../images/icons/ic-expand.svg"); }
  .expand:hover {
    opacity: 1; }
  @media screen and (max-width: 1023px) {
    .expand {
      opacity: 1;
      background: none; }
      .expand:after {
        position: relative;
        left: calc(100% - 45px);
        top: calc(100% - 50px);
        content: url("../images/icons/ic-expand.svg"); } }

.colors {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  left: 99%;
  height: 100%;
  color: white;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  @media screen and (max-width: 1023px) {
    .colors {
      position: relative;
      height: auto;
      left: 0; } }
  .colors.active .colors-pallete {
    display: none; }
  .colors--left {
    left: 0; }
  .colors-pallete {
    position: relative;
    display: none; }
    .colors-pallete .colors-item {
      background-image: none;
      padding: 0;
      width: auto; }
    @media screen and (max-width: 1023px) {
      .colors-pallete {
        display: -ms-grid;
        display: grid;
        -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
        height: 40px; } }
  .colors-pallete-name {
    position: absolute;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
    height: 100%; }
    @media screen and (max-width: 1023px) {
      .colors-pallete-name {
        position: relative;
        display: none;
        width: 100%;
        height: auto; } }
  .colors-visible {
    display: -ms-grid;
    display: grid; }
  .colors-item {
    position: relative;
    width: 25px;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-image: url("../images/icons/ic-color.svg");
    background-repeat: no-repeat;
    background-position: 26px center;
    -webkit-transition: width 0.3s ease;
    -o-transition: width 0.3s ease;
    transition: width 0.3s ease;
    z-index: 5; }
    .colors-item .colors-name {
      margin: 0;
      padding: 0;
      font-size: 20px;
      line-height: 32px;
      white-space: nowrap;
      visibility: hidden; }
    @media (min-width: 1024px) {
      .colors-item:hover {
        padding: 0 25px 0 70px;
        width: 285px; }
        .colors-item:hover .colors-name {
          visibility: visible;
          cursor: auto; } }
    @media screen and (max-width: 1023px) {
      .colors-item {
        position: relative;
        padding: 0 25px 0 70px;
        width: 100%;
        height: 50px; }
        .colors-item .colors-name {
          visibility: visible; } }

.accordion {
  display: none;
  outline: none;
  border: none;
  background-color: #f7f7f7;
  height: 45px; }
  .accordion span {
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;
    color: #e7373f;
    margin: 0 5% 0 0;
    cursor: pointer; }
  .accordion img {
    height: auto !important;
    width: 20px !important; }
  .accordion.active img {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }
  @media screen and (max-width: 1023px) {
    .accordion {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.modal-creative {
  display: none;
  position: fixed;
  margin: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 99; }
  .modal-creative__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 15px;
    color: #040302; }
    .modal-creative__header-title {
      font-size: 16px;
      line-height: 32px; }
  .modal-creative__content {
    position: relative;
    display: block;
    margin: auto;
    top: calc(50% - 200px);
    padding: 20px;
    background-color: #f7f7f7;
    width: 720px;
    height: 530px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    @media screen and (max-width: 1023px) {
      .modal-creative__content {
        width: 80%;
        height: 70%;
        border-radius: 16px; } }
    @media screen and (max-width: 767px) {
      .modal-creative__content {
        width: 90%;
        top: 20%; } }
  .modal-creative__body {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 70px);
    padding: 0 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    @media screen and (max-width: 767px) {
      .modal-creative__body {
        padding: 0; } }
    .modal-creative__body-image {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      height: calc(100% - 60px); }
      .modal-creative__body-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        -o-object-fit: cover; }
      @media screen and (max-width: 1023px) {
        .modal-creative__body-image .colors {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column; }
        .modal-creative__body-image img {
          height: 82%; } }
      @media screen and (max-width: 767px) {
        .modal-creative__body-image .colors {
          width: 100%; } }
      .modal-creative__body-image .colors-pallete--modal {
        display: -ms-grid;
        display: grid;
        gap: 10px;
        grid-auto-rows: 40px;
        margin-top: 10px;
        grid-auto-columns: repeat(auto-fit, minmax(30%, 1fr)); }
    .modal-creative__body-shop-button {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 10px 50px;
      margin-top: 12px;
      background-color: #efefef;
      color: #999999; }
      @media screen and (max-width: 767px) {
        .modal-creative__body-shop-button {
          background-color: transparent;
          padding: 10px;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          margin-top: 0; }
          .modal-creative__body-shop-button a {
            margin-top: 10px; } }
  .modal-creative__prev {
    position: absolute;
    left: 15px;
    top: calc(50% - 25px);
    cursor: pointer;
    z-index: 2; }
    @media screen and (max-width: 767px) {
      .modal-creative__prev {
        left: 25px;
        top: calc(50% - 50px); } }
  .modal-creative__next {
    position: absolute;
    right: 15px;
    top: calc(50% - 25px);
    cursor: pointer;
    z-index: 2; }
    @media screen and (max-width: 767px) {
      .modal-creative__next {
        right: 25px;
        top: calc(50% - 50px); } }
  .modal-creative__color-name {
    height: 45px;
    width: 100%;
    position: absolute;
    bottom: 50px; }
    .modal-creative__color-name div {
      height: 100%;
      width: 100%; }

.creative-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #efefef;
  color: #999999;
  float: right;
  font-size: 40px;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  font-weight: lighter; }
  .creative-close:hover, .creative-close:focus {
    color: #e7373f;
    text-decoration: none;
    cursor: pointer; }
  .creative-close--transparent {
    background-color: transparent;
    color: white; }
